#home {
  height: 100vh;
  width: 100%;
  background-color: #234256;
}

#sobre {
  height: 100vh;
  background-color: #FFFFFF;
}

#portfolio {
  height: 100vh;
  background-color: #3E3339;
}

#corpo {
  height: 100vh;
  background-color: #5c5c5c;
}

#contato {
  height: 25vh;
  background: #222222;
}

#principal {
  position: absolute;
  background: rgba(0, 0, 0, .1);
  width: 70%;
  height: 240vh;
  top: 60vh;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: .5%
}

p.mainP {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
  text-align: justify;
  font-size: 145%;
}

p.mainAbout {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4%;
  text-align: justify;
  font-size: 125%;
  color: #6B696E;
}

.Dennis_Siqueira {
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  color: #c4c4c4;
  /*font-style: italic;*/
  line-height: 10;
  -moz-transform: matrix( 5.75458836744408, 0, 0, 5.75458836744408, 0, 0);
  -webkit-transform: matrix( 5.75458836744408, 0, 0, 5.75458836744408, 0, 0);
  -ms-transform: matrix( 5.75458836744408, 0, 0, 5.75458836744408, 0, 0);
  position: absolute;
  left: 50%;
  margin-top: 15%;
}

nav {
  font-family: hind;
}

p {
  font-family: hind;
  color: rgb(218, 218, 218);
}

p.TextBGWhite {
  color: #9d9d9d;
  text-align: center;
}

.h1_title {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: #F17869;
}

img {
  width: 35%;
  height: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: white;
}

.h2_title {
  font-size: 3px;
  font-family: 'Work Sans', sans-serif;
  color: #878787;
  line-height: 55;
  -moz-transform: matrix( 5.75458836744408, 0, 0, 5.75458836744408, 0, 0);
  -webkit-transform: matrix( 5.75458836744408, 0, 0, 5.75458836744408, 0, 0);
  -ms-transform: matrix( 5.75458836744408, 0, 0, 5.75458836744408, 0, 0);
  position: absolute;
  left: 50%;
  margin-top: 15%;
}
